<div class="container-logos">
 
  <!-- Menu de usuario -->
  <div class="user" onclick="toggleMenu()">
    <i class="fa-solid fa-user-gear fa-3x"></i>
  </div>
  <div id="menu" class="menu hidden">
    <ul>
      <div class="icono-contenedor">
      <li><a href="/cerrarsesion"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
    </ul>
  </div>
  
</div>


