<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro de material</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/resources/css/registroInventario.css">
    <%- include('./partials/boostrap.ejs') %> 

</head>


<body>
  
<%- include('./partials/administrador.ejs') %>

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="bg-success p-3 text-center mt-4">
          <h3>REGISTRO DE MATERIAL</h3>
        </div>
        <div class="mt-4">
          <form action="/registroMaterial" method="post">
            <div class="form-group row">
              <label for="tipo" class="col-sm-2 col-form-label">Nombre <span class="text-danger">*</span></label>
              <div class="col-sm-4">
                <input type="text" name="nombre" class="form-control" id="nombre" name="nombre" placeholder="Introduca el nombre del material">
              </div>
            </div>
            <div class="form-group row">
              <label for="tipo" class="col-sm-2 col-form-label">Tipo <span class="text-danger">*</span></label>
              <div class="col-sm-4">
                <input type="text" name="tipo" class="form-control" id="tipo" name="tipo" placeholder="Introduca el tipo del material">
              </div>
            </div>
            <div class="form-group row">
              <label for="color" class="col-sm-2 col-form-label">Color <span class="text-danger">*</span></label>
              <div class="col-sm-4">
                <input type="text" name="color" class="form-control" id="color" placeholder="Introduzca el color del material">
              </div>
            </div>
            <div class="form-group row">
              <label for="medidas" class="col-sm-2 col-form-label">Medidas <span class="text-danger">*</span></label>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="medidas" id="medidas" placeholder="Introduzca las medidas">
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-2"></div>
              <div class="col-sm-4">
                <button type="submit" class="btn btn-success">Nuevo registro</button>
              </div>
            </div>
          </form>
        </div> 
      </div>
    </div>
    </div>
    



</body>
<script src="/resources/js/materialesA.js"></script>
<%- include('./partials/footer.ejs') %>

</html>

<!--V3-->