<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro de computador</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/resources/css/registroInventario.css">
    <%- include('./partials/boostrap.ejs') %> 

</head>


<body>
  
<%- include('./partials/administrador.ejs') %>

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="bg-success p-3 text-center mt-4">
          <h3>REGISTRO DE COMPUTADOR</h3>
        </div>
        <div class="mt-4">
          <form action="/guardarEquipo" method="post">
            <div class="form-group row">
              <label for="tipo" class="col-sm-2 col-form-label">Marca <span class="text-danger">*</span></label>
              <div class="col-sm-4">
                <input type="text" name="marca" class="form-control" id="marca" placeholder="Introduca la marca del equipo">
              </div>
            </div>
            <div class="form-group row">
              <label for="color" class="col-sm-2 col-form-label">tiene cargador? <span class="text-danger">*</span></label>
              <div class="col-sm-4">
                <input type="text" name="cargador" class="form-control" id="cargador" placeholder="Cuenta con cargador?">
              </div>
            </div>
            <div class="form-group row">
              <label for="color" class="col-sm-2 col-form-label">tiene mouse? <span class="text-danger">*</span></label>
              <div class="col-sm-4">
                <input type="text" name="mouse" class="form-control" id="mouse" placeholder="Cuenta con mouse?">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-2"></div>
              <div class="col-sm-4">
                <button type="submit" class="btn btn-success">Nuevo registro</button>
              </div>
            </div>
          </form>
        </div> 
      </div>
    </div>
    </div>
    



</body>

<%- include('./partials/footer.ejs') %>

</html>

<!--V3-->